* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-position: 434px 160px;
    background-repeat: no-repeat;
    background-image: url('/img/team\ \(5\).png');
}

/* Cabaçalho */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Logo */
header .logo {
    font-weight: bold;
    font-family: 'roboto', sans-serif;
    font-size: 25px;
    padding: 20px 0 15px 25px;
    color: #D2872C;

}

.menu {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    background: white;
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-line {
    background: #D2872C;
    padding: 3px;
    margin: 2px;
    width: 80%;
    
}
/* Menu */
header .navbar {
    width: 70%;
    margin-left: 60%;
    list-style: none;
    display: flex;
    padding: 25px 0;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Dongle', sans-serif;
}
header .navbar li {
    padding: 0 15px;
}

header .navbar li a {
    text-decoration: none;
    color: #766F68;
}
 
/* Textos e Botão */
div .container {
    align-items: center;
    display: flex;
}

div h2 {
    font-family: 'Dongle', sans-serif;
    color: #766F68;
    font-size: 70px;
    font-weight: bold;

}
div p {
    color: #766F68;
    font-family: 'Dongle', sans-serif;
    padding: 15px 15px 15px 0;
    margin: 17px 0 50px 0;
    font-size: 30px;
}

.text {
    position: absolute;
    margin: 70px 0 0 50px;
}


.btn {
    cursor: pointer;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    color: white;
    font-size: 20px;
    font-family: 'Dongle', sans-serif;
    font-weight: bold;
    background: #D2872C;
    border-radius: 10px;
    padding: 20px 120px 20px 120px;
}



